*.o
*~
*.gmo
ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
ar-lib
art/Makefile
art/Makefile.in
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
help/C/Makefile
help/C/Makefile.in
help/C/omf_timestamp
help/Makefile
help/Makefile.in
help/ru/Makefile
help/ru/Makefile.in
help/ru/omf_timestamp
intltool-extract.in
intltool-merge.in
intltool-update.in
po/stamp-it
install-sh
libtool
ltmain.sh
m4/
m4m/
missing
mkinstalldirs
omf-install/Makefile
omf-install/Makefile.in
omf-install/gtkam-C.omf
omf-install/gtkam-ru.omf
packaging/Makefile
packaging/Makefile.in
packaging/rpm/Makefile
packaging/rpm/Makefile.in
packaging/rpm/package.spec
pixmaps/Makefile
pixmaps/Makefile.in
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/gtkam.pot
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
src/.deps/
src/Makefile
src/Makefile.in
src/gtkam
src/gtkam-gimp
src/libgtkam.a
stamp-h1
test/.deps/
test/Makefile
test/Makefile.in
test/test-cancel
test/test-fsel
